@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');


/* reset--------------------------------------------------------------------- */
html {font-size:100%}
body {
	font-size:15px;
	font-family: "Nanum Gothic", Gulim, "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 320px;
	margin:0;
	padding:0;
    word-break: keep-all;background-color: #fff;
    color: #000;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol, li {list-style:none;}
a:link, a:visited {color:#000; text-decoration:none; font-size: 13px;}
nav{white-space:nowrap}



/* common------------------------------------------------------------------- */
.clear:after {content: ''; display: block; clear: both;}
header > div, main > div, footer> div {margin: 0 auto;}
.b_hover > a {position: relative;}
.b_hover > a:hover::before{
    content: '';
    position: absolute;
    left:0; right:0; top: 16px;
    height: 2px;
    border-bottom: 2px solid #262626;
}
/* header ------------------------------------------------------------------ */
header {padding: 0 5%; margin-bottom: 2px;}
.header_inner{
    background-color:lightblue;
    height: 54px;
    line-height: 54px;
    max-width: 1600px;
}
/* ms_logo----- */
.MS_logo{
    width: 137px;
    padding-left:2px;
    float: left;
    box-sizing: border-box;
}
.MS_logo>img {
    display: block;
    width: 108px;
    margin:14px 0 0 8px;
}

/* header_nav----- */
.header_nav {float: left;}
.header_nav > ul > li {
    float: left; 
    font-size: 12px;
    padding:0 15px;
}
.header_nav > ul > li:first-child{padding-left: 10px;}
/* header_action----- */
.header_action {float: right;}
.header_action > * {float: left;;}
.action_all {
    position: relative;
    height: 52px;
    outline: 1px dashed #262626;
    margin-top: 1px;
}
.action_all > a {
    padding: 16px 24px 16px 15px;
}
.action_all > a::after {
    content: '';
    border-top: 1px solid #262626;
    border-right: 1px solid #262626;
    width: 6px; height: 6px;
    position: absolute;
    transform: rotate(135deg);
    right: 12px;
    bottom: 20px;
}
.action_all > a:hover::before{
    right: 24px; left: 15px; top:32px;
}
.site_map {
    background-color: #f2f2f2;
    width: 1230px;
    position: absolute;
    right: -195px;top: 53px;
    display: table;
    border:1px solid #e6e6e6;
    box-sizing:border-box;
    display: none;
}
.site_map.open {display: block;}
.site_map > li {
    display: table-cell;
    width: 195px;
    padding-bottom: 10px;
}
.site_map > li:last-child{
    position: absolute;
    display: block;
    background-color:#e6e6e6;
    width: 1230px; height: 40px;
    left: -1px;bottom: -40px;
    border-bottom: 2px solid #262626;
    box-sizing: border-box;
    padding: 0;
}
.site_map > li:last-child > a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 38px;
}
.site_map > li:last-child > a::after {
    content: '';
    position: absolute;
    width: 10px; height: 10px;
    border-top: 1px solid #262626;
    border-right: 1px solid #262626;
    top: 14px; right: -15px;
    transform: rotate(45deg);
}
.site_map > li > h3 {
    padding: 18px 30px 18px 24px;
    line-height: 17px;
    font-size: 13px;
}
.site_map_sub > li {height: 41px;;}
.site_map_sub > li > a {
    padding-left:24px;
    display: block;
    line-height: 41px;
}
.site_map_sub > li > a:hover {
    text-decoration-line: underline;
}
/*  */
.action {position: relative;}
.action > * {float: left}
.search.b_hover a:hover::before, .cart.b_hover a:hover::before {
    top:34px
}
.action.search {
    width: 90px;
    padding-left: 26px;
}
.action.cart {
    width: 48px;
    padding-left: 10px;
    }
.action.login {
    width: 96px;
    padding-left: 20px;
}
.action > span {
    width:16px ; height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
   
}
.action.search > span {
    background-image: url('../images/search-solid.svg');
    right: 40px;
    transform:translateY(-50%) rotateY(180deg);
}
.action.cart > span {background-image: url('../images/shopping-cart-solid.svg')}
.action.login > span {
    background-image: url('../images/다운로드.svg');
    right: 16px;
    width: 32px; height: 32px;
}
/* main -------------------------------------------------------------------- */
/* main_hero -----*/
.main_hero {
    width:1600px;
    padding:0 5% 0 5%;
    margin: 0 auto;
    position: relative;

}
.visual_photo {outline: 1px solid red;}
.visual_photo img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.visual_photo > li {
    display: block;
    float: left;
}
.visual_contents > div {
    outline: 1px solid blue; 
    position: absolute; 
    bottom: 60px; left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.visual_contents h1 {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 12px;
    font-weight: 600;
}
.visual_contents > div > div {
    background-color: cadetblue;
    margin-top:24px
}
.visual_more {
    background-color: #000;
    color: #fff;
    padding: 10px 31px 6px 26px;
    float: left;
    text-align: center;
    margin-right: 24px;
    border:2px solid transparent;
}
.visual_more > span {line-height: 18.5px; font-weight:600}
.visual_more> span::after {
    content: '';
    display: inline-block;
    width: 7px; height: 7px;
    border-top: 1.4px solid #fff;
    border-right: 1.4px solid #fff;
    transform:rotate(45deg) translate(3px, -4px);
}
.visual_more.blan {
    background-color: transparent;
    color: #000;
    padding:10px 57px 7px 25px;
}
.visual_more.blan> span::after {
    border-color: #000;
}
.visual_page {
    position: absolute; 
    left: 5%; right: 5%; bottom: 8px;
    text-align: center;
}
.visual_page_button { border: 1px solid lime; display: inline-block;}
.visual_page button {
    float: left;
}

/* --- */
.page_num {
    width: 16px; height: 14px;
    padding: 2px 3px;
    background-color: transparent;
    border-color: #000;
    margin-top: 11px;
}
.page_num > div {
    border:1px solid rgba(0,0,0,.8);
    border-radius: 50%;
    width: 6px; height: 6px;
    margin: 0 auto;
    box-sizing: border-box;
}
.page_num.on > div {
    background-color: #000;
}
.page_set {
    padding:9px 12px 10px;
    border: 2px solid transparent ;
    box-sizing: border-box;
    position: relative;
    margin-left: 15px;
    background-color: transparent;
}
.page_set:hover {
    background-color: #000;
}
.page_set > div {
    width: 8px; height: 12px;
    position: relative;
}
.page_set_play {display: none;}
.page_set > div > span {
    display: block;
    height: 12px;
    width: 1px;
    background-color: #000;
}
.page_set:hover > div > span {
    background-color: #fff;
}
.page_set_play > span._top{
    height: 9px;
    transform: rotate(45deg) translate(-3px, -8px)
}
.page_set_play > span._bottom{
    height:9px ;
    transform: rotate(-45deg)translate(18px, -13px);
}
.page_set > .page_set_pause > span {
    height: 11px;
    position: absolute;
    top: 1px;
}
.page_set_pause > span.pause_left {
    left: 1px;
}
.page_set_pause > span.pause_right {
    right: 1px;
}


/* --- */
.visual_pager_btn {
    background-color: sandybrown;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%; right: 5%;
}
.visual_pager_btn > .pager {
    position: absolute;
    border: 0;
    padding: 0;
    opacity: 1;
}
/* .main_hero:hover .visual_pager_btn > .pager {
    opacity: 1;
} */
.pager.prev { left: 4px; }
.pager.next { right: 4px; }
.visual_pager_btn > .pager > div {
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    width: 42px; height: 42px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.visual_pager_btn > .pager > div::after {
    content: '';
    width: 10px;height: 10px;
    border-top: 0.5px solid #000;
    border-right: 0.5px solid #000;
    position: absolute;
    left: 20px; top: 50%;
    background-color: transparent;
    transform: translateY(-50%) rotate(-135deg);
}
.visual_pager_btn > .pager.next > div::after {
    transform: translateY(-50%) rotate(45deg);
    left: 15px;
}
/* main_contents ---- */
/* main_hero store -- */
/* main_contents user */
/* main_social ------ */
/* footer ------------------------------------------------------------------ */