@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');


/* reset--------------------------------------------------------------------- */
html {font-size:100%}
body {
	font-size:15px;
	font-family: "Nanum Gothic", Gulim, "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 320px;
	margin:0;
	padding:0;
    word-break: keep-all;background-color: #fff;
    color: #000;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol, li {list-style:none;}
a:link, a:visited {color:#000; text-decoration:none;}
nav{white-space:nowrap}



/* common------------------------------------------------------------------- */
.clear:after {content: ''; display: block; clear: both;}
header > div, main > div, footer> div {margin: 0 auto;}

/* layout ------------------------------------------------------------------ */
/* header ------------------------------------------------------------------ */
header {padding: 0 5%;}
.header_inner{
    background-color:lightblue;
    
    height: 54px;
    line-height: 54px;
    max-width: 1600px;
}
.MS_logo{
    width: 137px;
    padding-left:2px;
    float: left;
    box-sizing: border-box;
}
.MS_logo>img {
    display: block;
    width: 108px;
    margin-top: 14px;
}
.header_nav {float: left;}
.header_nav > ul > li {
    float: left; 
    font-size: 12px;
    padding:0 15px;
}
.header_action {float: right;}
.header_action > * {float: left;;}
.action_all {
    padding:0 30px 0 12px;
    position: relative;
}
.action_all > a::after {
    content: '';
    border-top: 1px solid #262626;
    border-right: 1px solid #262626;
    width: 7px; height: 7px;
    position: absolute;
    transform: rotate(135deg);
    right: 15px;
    bottom: 23px;
}
.action_all > ul {display: none;}
.action {outline: 1px solid red; ;}
.action > * {float: left}
.action > span {
    border: 1px solid lime;
    width:16px ; height: 16px;
    
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.action.search > span {background-image: url('../images/search-solid.svg');}
.action.cart > span {background-image: url('../images/shopping-cart-solid.svg');}
.action.login > span {background-image: url('../images/다운로드.svg');}

/* main -------------------------------------------------------------------- */
/* footer ------------------------------------------------------------------ */