@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

* { box-sizing: border-box; }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-style: normal;
    font-size: 1em;
    font-family:'Raleway', sans-serif,'Noto Sans KR','Nanum Gothic', "돋움", dotum, Arial ;
    font-weight: 100;
    line-height:1.6;
    box-sizing: border-box;
    letter-spacing: normal;
    width: 100%;
    height: 100vh;
    padding:25px 40px;
    max-width: 1500px;
    margin:0 auto;
    color: #404040;
}

nav ,
ul,
li {
    list-style:none;
}


blockquote, q {quotes:none;}

blockquote:before, 
blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #404040;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    margin:1em 0;
    padding:0;
}

input, 
select {
    vertical-align:middle;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 400;
}

textarea:focus,
button:focus ,
input:focus {
  outline: none;
}

*::-webkit-scrollbar { display: none;}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: mediumaquamarine;
    z-index: 1000;
    display: grid;
    place-items: center;

}

.scroll {
    padding-top: 80px;
    position: absolute;
    width: 34px;
    right: 50px;
    bottom: 50px;
    opacity: 1;
}
.scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #404040;
    border-bottom: 2px solid #404040;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.scroll span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.scroll span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}