body {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquare','Noto Sans KR','돋움',Dotum,'굴림',Gulim,Helvetica, 'Apple SD Gothic Neo',Tahoma, Geneva, sans-serif,verdana;
    font-size: 16px;
    color: #666666;
    line-height: 1.66;
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: -0.04em;

}
img,fieldset {border:0 none;}
h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend {margin:0;padding:0;}
ul, ol, li {list-style:none;}
table {border-collapse:collapse;border:0 none;}
form, p {margin: 0px;}
button {margin:0;padding:0;border:0 none;background:transparent;cursor:pointer;}
a:link, a:visited, a:active,a:hover {color:#131313;text-decoration:none;}
input {font:inherit ; box-sizing: border-box;}