@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean");
@font-face {
  font-family: "NanumSquare";
  src: url("../font/NanumSquareB.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url("../font/NanumSquareR.woff") format("woff");
  font-weight: 400;
}

/* common */
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.k-insurance-wrap {
  min-width: 320px;
  overflow: hidden;
}
.inwrap {
  max-width: 1260px;
  min-width: 340px;
  margin: 0 auto;
  width: 96%;
}
.k-insurance-wrap > * {
  box-sizing: border-box;
}
/*  header ------------------------------------------------------------------------------- */
header {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
}
header.on::before {
  border-bottom: 2px solid #0d2d4f;
}
header::before {
}
.header-inner {
  width: 95%;
  display: flex;
}
.header-inner > * {
  box-sizing: border-box;
}

/*  */
.header-logo {
  height: 80px;
}
.header-logo > a > img {
  width: 155px;
  display: block;
  margin-top: 25px;
}
/* header-nav */
.header-nav {
  flex-grow: 1;
  margin: 0 30px;
}
.header-nav .nav-group1 {
  line-height: 79px;
  overflow: hidden;
}
.header-nav .nav-group1 > li {
  float: left;
  width: 25%;
  text-align: center;
}
.header-nav .nav-group1 > li > a {
  background-color: white;
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: #131313;
  transition: color 0.4s;
}
.header-nav .nav-group1 > li > a:hover {
  color: #108ad3;
}
/* ---------------------- js적용 시키기 */
.h-nav01 > .on > .nav-group2.on,
.hero-sitemap.on {
  display: block;
}
.header-nav > ul > li > .nav-group2,
.hero-sitemap {
  display: none;
}
/* ------------------------------------------ */

.h-nav01 > .on .nav-group2.on {
  background-color: #e8e9eb;
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}
/* .h-nav01 > .on .nav-group2.on::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #e8e9eb;
} */
.header-nav .nav-group2 > li {
  width: 25%;
  font-size: 19px;
  font-weight: 700;
  text-align: left;
  padding: 2.45% 3% 47px;
  border-right: 1px solid #dddee0;
}
.header-nav .nav-group2 > li:first-child {
  border-left: 1px solid #dddee0;
}
.header-nav .nav-group3 > li {
  line-height: 19px;
}
.header-nav .nav-group3 > li + li {
  padding-top: 53px;
}
.header-nav .nav-group3 > li > a {
  color: #000;
  font-size: 19px;
  font-weight: 700;
  display: block;
}
.header-nav .nav-group4 {
  margin-top: 24px;
}
.header-nav .nav-group4 > li {
  line-height: 15px;
}
.header-nav .nav-group4 > li + li {
  margin-top: 17px;
}
.header-nav .nav-group4 > li > a {
  display: block;
  font-weight: 400;
  color: #666666;
  font-size: 15px;
}
.header-nav .nav-group4 > li > a:hover {
  color: #000;
}
/* header-util */
.header-util > * {
  font-family: "Noto Sans KR";
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  line-height: 39px;
  overflow: hidden;
  box-sizing: border-box;
  align-content: center;
}

/* util-search */
.util-search {
  background-color: #e8e9eb;
  width: 172px;
  height: 39px;
  font-family: "Noto Sans KR";
  padding: 0 39px 0 23px;
}
.h-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/icon_g.png");
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.util-search input:focus {
  outline: none;
}
.util-search input::placeholder {
  color: #000;
  font-size: 16px;
}
.util-search input:focus::-webkit-input-placeholder {
  color: transparent;
}
.util-search input:focus::-moz-placeholder {
  color: transparent;
}
.util-search input:focus:-ms-input-placeholder {
  color: transparent;
}
.util-search input:focus::-ms-input-placeholder {
  color: transparent;
}

/*  */
.search-txt {
  font-size: 15px;
  background-color: transparent;
  border: none;
  color: #575a61;
  width: 100%;
  height: 38px;
}
.h-btn.search {
  width: 25px;
  height: 37px;
  background-position: -27px 11px;
  right: 10px;
}

/* header-sitemap */
.header-sitemap {
  margin-left: 5px;
  border: 1px solid #cdcecf;
}
.header-sitemap > a {
  display: block;
  padding: 0 38px 0 21px;
  font-size: 15px;
  line-height: 37px;
}
.h-btn.sitemap {
  width: 16px;
  height: 16px;
  background-position: -52px 2px;
  right: 14px;
}
.header-util.on > * {
  transform: none;
}
.header-util > .header-sitemap.on > .hero-sitemap.on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d2d4f;
  z-index: 100;
  overflow-y: scroll;
}
.hero-sitemap.on > div > * {
  box-sizing: border-box;
}
.hero-sitemap.on h1 {
  padding: 60px 0 50px;
  position: relative;
  border-bottom: 3px solid #ffffff;
}
.hero-sitemap.on h1 a img {
  display: block;
  margin: 0 auto;
}
.hero-sitemap.on h1 a::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/btn_sitemap_close.png");
}
.hero-sitemap.on .nav-group1 > li {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #3d5772;
  padding: 50px 0;
}
.hero-sitemap.on .nav-group1 li {
  box-sizing: border-box;
}
.hero-sitemap.on .nav-group1 > li > a {
  font-size: 26px;
  line-height: 50px;
  float: left;
}
.hero-sitemap.on .nav-group1 a {
  color: #fff;
  display: block;
}
.hero-sitemap.on .nav-group2 {
  overflow: hidden;
  padding-top: 10px;
  margin-left: 200px;
}
.hero-sitemap.on .nav-group2 > li {
  float: left;
  width: 25%;
}
.hero-sitemap.on .nav-group2 > li:nth-child(4n + 1) {
  clear: both;
}
.hero-sitemap.on .nav-group2 > li:nth-child(4n + 1) > a {
  padding: 5px 0;
  line-height: 25px;
  font-size: 17px;
}
.hero-sitemap.on .nav-group3 > li > a {
  padding: 5px 0;
  line-height: 25px;
  font-size: 17px;
}
.hero-sitemap.on .nav-group4 {
  margin-left: 12px;
  padding: 5px 0;
}
.hero-sitemap.on .nav-group4 > li > a {
  font-size: 14px;
  color: #6e8195;
  line-height: 23px;
}
/* header-lang */
.header-lang {
  margin-left: 5px;
  width: 39px;
  height: 39px;
}
.header-lang > ul > li {
  float: left;
}
.header-lang > ul > li > a {
  background-color: #0d2d4f;
  display: block;
  width: 39px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.lan-kr {
  display: none;
}

/* header-btn */
.header-btn {
  position: absolute;
  right: 30px;
  top: 22px;
  z-index: 200;
}

/* main----------------------------------------------------------------------------------- */
.section-wrap {
  transform: translate3d(0px, 0px, 0px);
  transition: none 0s ease 0s;
  height: 100%;
  position: relative;
}
section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
section .inwrap {
  max-width: 1280px;
}
.section-inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 80px;
}
.section-inner-wrap {
  position: absolute;
  padding-top: 40px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section .title {
  text-align: center;
  margin-bottom: 45px;
  color: #fff;
}
section .title > p {
  font-weight: 500;
  font-size: 18px;
}
section h2 {
  font-weight: 700;
  font-size: 48px;
  color: #1c1c1c;
  padding-top: 27px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1;
  position: relative;
}
section h2::before {
  display: block;
  content: "";
  width: 35px;
  height: 4px;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col {
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
.col.col2 {
  padding: 0;
}
.col > * {
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.col > a {
  background-color: #fff;
  display: block;
  padding: 38px 10px 62px;
}
.col > a > i {
  margin: 0 auto;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.btn-go {
  display: inline-block;
  background-color: #0d2d4f;
  color: #fff;
  border-radius: 15px;
  line-height: 30px;
  padding: 0 25px;
  font-size: 15px;
}

/* sectoin01_home ---*/
#section01 {
  background-image: url("../images/main_visual01.jpg");
  background-size: cover;
}
#section01 .section-inner {
  padding-top: 0;
}
#section01 .title > h2 {
  color: #fff;
  line-height: 1.66;
  padding-top: 0;
}
#section01 .title > h2::before {
  display: none;
}
#section01 .col {
  width: 25%;
}
#section01 .col3 > .col {
  float: right;
}
#section01 .col2 > .col > a,
.col2 > .col.on > div {
  text-align: left;
  padding: 20px 28px 23px;
}
#section01 .col2 > .col > a > h3 {
  margin-top: 0;
  font-size: 28px;
}

/* mouseover .col.on 일경우 */
#section01 .col.on > * {
  background-color: #108ad3;
}
#section01 .col.on h3,
#section01 .col.on h4,
#section01 .col.on p,
#section01 .col.on span {
  color: #fff;
}
#section01 .col.on > div {
  padding: 20px 5%;
}

/*  */
.fav-menu h4 {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 18px;
}
.fav-menu-contents > li {
  float: left;
  width: 33.333%;
}
.fav-menu-contents > li > a {
  display: block;
  text-align: center;
  font-size: 15px;
}
.fav-menu-contents > li > a > i {
  display: block;
  width: 69px;
  height: 69px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}
.fav-menu-contents > li:nth-child(1) i {
  background-image: url("../images/icon_s0105.png");
}
.fav-menu-contents > li:nth-child(2) i {
  background-image: url("../images/icon_s0106.png");
}
.fav-menu-contents > li:nth-child(3) i {
  background-image: url("../images/icon_s0107.png");
}
.fav-menu-contents > li > a > span {
  line-height: 1.2;
  display: block;
}

#section01 .col > a > i {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #edf1f5;
}
#section01 .col3 > .col:nth-child(1) i {
  background-image: url("../images/icon_s0101.png");
}
#section01 .col3 > .col:nth-child(2) i {
  background-image: url("../images/icon_s0102.png");
}
#section01 .col3 > .col:nth-child(3) i {
  background-image: url("../images/icon_s0103.png");
}

.col > a > h3 {
  margin: 20px 0 5px;
  font-size: 32px;
  font-weight: 700;
  color: #121212;
}
.col > a > p.show {
  font-size: 17px;
  color: #999999;
  line-height: 1.29;
  font-family: "Noto Sans KR";
  display: block;
}
.col > a > p {
  display: none;
}

#section01 .col2 > .col {
  width: 100%;
  display: block;
}
.col2 > .col > a > p.show {
  font-size: 15px;
  height: 65px;
  line-height: unset;
}
.col2 > .col > a {
  position: relative;
}
#section01 .col2 > .col > a > i {
  position: absolute;
  background-image: url("../images/icon_s0205.png");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 78px;
  height: 87px;
  right: 28px;
  bottom: 23px;
  border-radius: 0;
}

/* board */
.board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  height: 60px;
  background-color: rgba(11, 38, 67, 0.7);
}
.board h3 {
  padding: 0 20px 0 77px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/icon_notice.png") no-repeat 40px center;
}
.board h3 > a {
  display: block;
}
.news > h3 {
  background-image: url("../images/icon_news.png");
}
.board-inner a {
  font-size: 16px;
  font-family: "Noto Sans KR";
  color: #fff;
  display: block;
  line-height: 60px;
}
.board-inner > div {
  float: left;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 70px 0 170px;
  height: 60px;
}
.board-swipe {
  position: relative;
}
.swiper-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: maroon;
  width: 32px;
  height: 29px;
  background: url("../images/icon_arrow02.png") no-repeat center;
}

/* section2_ 생명보험협회 ---*/
#section02 {
  background-image: url("../images//section02_bg.jpg");
}
#section02 .col4 > .col {
  width: 50%;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
#section02 .col4 > .col > * {
  background-color: #fff;
}
#section02 .col4 > .col > div.tab-wrap {
  background-color: #edf1f5;
}
#section02 .col-notice,
#section02 .col-slide-container,
#section02 .col > .more-info-wrap {
  border: 1px solid #d4d5d8;
}
.tab-wrap {
  border: 1px solid #d4d5d8;
  position: relative;
  min-height: 300px;
  overflow: hidden;
}
.tab-wrap span,
.notice-ext-contents > li > span {
  position: absolute;
  right: 0;
  top: 0;
}
.tab {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  line-height: 51px;
  border-bottom: 1px solid #d4d5d8;
}
.tab > a {
  background-color: #fff;
  border-right: 1px solid #d4d5d8;
  display: block;
  float: left;
  max-width: 140px;
  font-size: 18px;
  font-weight: 700;
  width: 33.333%;
  position: relative;
}
.more-btn {
  position: absolute;
  right: 0;
}
/* --------------------------------------- hide */
.tab > a.hide {
  display: none;
}
.tab > a.on {
  z-index: 10;
}

.tab-contents {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 28px 38px;
  background-color: #fff;
  height: 100%;
  border-top: 1px solid #d4d5d8;
}
.tab-contents > ul {
  display: none;
}
.tab-contents > ul > li,
.notice-ext-contents > li {
  position: relative;
  text-align: left;
  font-family: "Noto Sans KR";
  color: #6d6d6d;
  font-size: 15px;
  line-height: 32px;
}
.tab-contents > ul.on {
  display: block;
}
.tab-contents > ul > li > a,
.notice-ext-contents > li > a {
  display: block;
  overflow: hidden;
  max-width: 335px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.3s;
  color: #6d6d6d;
}
.tab > span.more-btn {
  right: 30px;
}
span.more-btn {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 15px;
  font-size: 13px;
  padding-right: 20px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}
span.more-btn::after {
  content: "";
  height: 15px;
  width: 15px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/icon_more.png") no-repeat center;
}

#section02 .col4 > .col2 > .col {
  background-color: transparent;
  width: 50%;
}
#section02 .col.col2 {
  padding: 0;
}
#section02 .sec02-inner {
  padding: 15px 10px;
  position: relative;
}

.sec02-inner {
  background-color: #108ad3 !important;
}
.sec02-inner > li {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.sec02-inner > li > a {
  display: block;
  text-align: center;
  color: #fff;
  font-family: "Noto Sans KR";
}
.sec02-inner > li > a > i {
  display: block;
  width: 82px;
  height: 82px;
  margin: 0 auto 7px;
  background: #fff no-repeat center;
  border-radius: 50%;
}
.sec02-inner > li:nth-child(1) i {
  background-image: url("../images/icon_s0201.png");
}
.sec02-inner > li:nth-child(2) i {
  background-image: url("../images/icon_s0202.png");
}
.sec02-inner > li:nth-child(3) i {
  background-image: url("../images/icon_s0203.png");
}
.sec02-inner > li:nth-child(4) i {
  background-image: url("../images/icon_s0204.png");
}

/* section02- slider */
.slide-img-wrap {
  display: flex;
  height: 298px;
}
.slide {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  display: none;
}
.slide.on {
  display: block;
}
.slide a {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  background: no-repeat center;
}
.slide:nth-child(1) a {
  background-image: url("../images/getImage (1).jpg");
}
.slide:nth-child(2) a {
  background-image: url("../images/getImage (2).jpg");
}
.slide:nth-child(3) a {
  background-image: url("../images/getImage (3).jpg");
}
.slide-page-set {
  position: absolute;
  top: 21px;
  right: 23px;
  line-height: 0;
}
.slide-page-set > * {
  display: inline-block;
  vertical-align: middle;
}
.slide-page-set span {
  width: 8px;
  height: 8px;
  display: inline-block;
  box-sizing: border-box;
}
.slide-btn span {
  margin-left: 2px;
  background: url("../images/icon_pause.png") no-repeat center;
}
.slide-btn span.play {
  background-image: url("../images/icon_play.png");
}
.slide-page-num span {
  margin: 0 6px;
  border: 1px solid #333;
  opacity: 0.8;
  border-radius: 100%;
}
.slide-page-num span.on {
  background-color: #333;
}

/*  */
.col-notice {
  position: relative;
  padding: 20px 30px;
  text-align: left;
}
.notice-tab {
  position: relative;
}
.notice-tab > p {
  color: #262626;
  font-size: 22px;
  font-weight: 700;
  padding-left: 9px;
}
.notice-ext-contents {
  padding-top: 17px;
}

/*  */
.more-info-wrap > li {
  float: left;
  width: 33.333%;
  padding: 35px 10px;
  box-sizing: border-box;
}
.more-info-wrap > li > a {
  display: block;
}

.more-info-wrap i {
  display: block;
  height: 64px;
  background: no-repeat center;
  margin-bottom: 10px;
}
.more-info-wrap li:nth-child(1) i {
  background-image: url("../images/icon_s0205.png");
}
.more-info-wrap li:nth-child(2) i {
  background-image: url("../images/icon_s0206.png");
}
.more-info-wrap li:nth-child(3) i {
  background-image: url("../images/icon_s0207.png");
}
.more-info-wrap p {
  font-size: 21px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  color: #262626;
}
.more-info-wrap p.r2 {
  font-size: 17px;
  line-height: 20px;
}
.more-info-wrap .btn-go {
  background-color: #92989b;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

/* section3_ 소비자 ---*/
#section03 .col3 > .col {
  width: 100%;
}
#section03 .col2 > .col {
  width: 50%;
}
#section03 .col2 > .col h2 {
  border-radius: 0;
  text-align: left;
}
#section03 .col2 > .col h2::before {
  left: 0;
  transform: none;
}
.custom-link-wrap {
  box-sizing: border-box;
}
.custom-link {
  float: left;
  width: 50%;
  text-align: left;
  font-size: 16px;
}
.custom-link > li {
  position: relative;
  line-height: 39px;
  transition: color 0.3s;
  font-family: "Noto Sans KR";
}
.custom-link > li > a {
  display: block;
  padding-left: 28px;
  margin-right: 35px;
  position: relative;
  transition: color 0.3s;
  border-bottom: 1px solid #e1e1e1;
  color: #505050;
}
.custom-link > li > a:hover {
  color: #108ad3;
}
.custom-link > li > a:hover::after {
  background-color: #108ad3;
}
.custom-link > li > a::after {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url("../images/icon_arrow01.png") no-repeat #1c1c1c;
  transition: background 0.3s;
}
.custom-img > div {
  display: block;
  height: 345px;
  background: url("../images/s03_bg.jpg");
}
.custom-img > div,
.custom-go > li > a {
  border-radius: 16px;
  overflow: hidden;
}

/*  */
.custom-go {
  box-sizing: border-box;
}
.custom-go > li {
  float: left;
  width: 25%;
  position: relative;
  text-align: left;
  box-sizing: inherit;
  padding: 10px;
}

.custom-go > li > a {
  display: block;
  padding: 30px;
  border: 1px solid #d4d5d8;
}
.custom-go > li h3 {
  line-height: 1.15;
  font-size: 25px;
  font-weight: 700;
}
.custom-go > li p {
  margin-top: 10px;
  font-size: 16px;
  color: #838383;
  line-height: 1.25;
  height: 75px;
  font-family: "Noto Sans KR";
}
.custom-go > li:hover > a {
  background-color: #108ad3;
}
.custom-go > li:hover > a > * {
  color: #fff;
}
.custom-go > li:hover .btn-go {
  background-color: #fff;
  color: #262626;
}
.custom-go > li i {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 130px;
  height: 78px;
  background: no-repeat center;
}
.custom-go > li:nth-child(1) i {
  background-image: url("../images/icon_s0301.png");
}
.custom-go > li:nth-child(2) i {
  background-image: url("../images/icon_s0302.png");
}
.custom-go > li:nth-child(3) i {
  background-image: url("../images/icon_s0303.png");
}
.custom-go > li:nth-child(4) i {
  background-image: url("../images/icon_s0304.png");
}

/* section04_ 모집종사자 ---*/
#section04 {
  background-image: url("../images/section04_bg.jpg");
  background-repeat: repeat;
  background-size: unset;
}
#section04 h2 {
  color: #fff;
}
#section04 h2::before {
  background-color: #fff;
}
#section04 .col4 > .col {
  width: 25%;
}
#section04 .col4 > .col > a {
  overflow: hidden;
  text-align: left;
  background-color: #fff;
  padding: 0 0 143% 0;
  position: relative;
}
.col-text {
  position: absolute;
  top: 43px;
  left: 35px;
  right: 35px;
}
.col-text > strong {
  font-size: 30px;
  color: #262626;
  line-height: 1.233;
}
.col-text > p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  color: #838383;
  line-height: 1.33;
  margin-top: 16px;
}

/*  */
.col-img-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: lightcoral;
  height: 100%;
}
.col-img-wrap > img {
  position: absolute;
  bottom: 0;
}

/* section05_ 회원사 ---*/
#section05 {
  background-image: url("../images/section05_bg.jpg");
  background-repeat: repeat;
  background-size: unset;
}
#section05 .col5 {
  box-sizing: border-box;
  font-size: 0;
}
#section05 .col5 > .col {
  padding: 2% 2% 2%;
  width: 20%;
  float: none;
  display: inline-block;
}
#section05 .col5 > .col > a {
  padding: 0;
  background-color: transparent;
}
.col-icon {
  display: block;
  max-width: 178px;
  position: relative;
  margin: 0 auto;
  padding: 6px;
  transition: all 0.3s 0s;
  box-sizing: border-box;
}
.col-icon::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  border-radius: 50%;
  background: no-repeat center;
  background-size: cover;
}
.col-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6px solid #fff;
  border-radius: 50%;
}
.col5 > .col:nth-child(1) i::before {
  background-image: url("../images/icon_mcompany01.png");
}
.col5 > .col:nth-child(2) i::before {
  background-image: url("../images/icon_mcompany02.png");
}
.col5 > .col:nth-child(3) i::before {
  background-image: url("../images/icon_mcompany04.png");
}
.col5 > .col:nth-child(4) i::before {
  background-image: url("../images/icon_mcompany05.png");
}
.col5 > .col:nth-child(5) i::before {
  background-image: url("../images/icon_mcompany06.png");
}

.col5 > .col strong {
  display: block;
  margin: 28px 0 25px;
  font-size: 22px;
  color: #101010;
  font-weight: 700;
  line-height: 1.2;
}
.col5 > .col strong.r2 {
  margin: 15px 0 12px;
}
.col5 > .col p.show {
  font-size: 15px;
  line-height: 1.33;
  color: #666666;
}

/* footer--------------------------------------------------------------------------------- */
footer {
  background-color: #f3f4f5;
  position: relative;
}

/* footer-swipe --- */
.footer-swipe {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 99px;
}
.swipe-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
/**/
.swipe-btn > button {
  position: absolute;
  top: 0;
  width: 16px;
  height: 99px;
  background: url("../images/icon_f_prev.png") #fff no-repeat center;
  z-index: 20;
}
.swipe-btn > button.swipe-prev {
  left: 0;
}
.swipe-btn > button.swipe-next {
  background-image: url("../images/icon_f_next.png");
  right: 0;
}

/* */
.swipe-slide-wrap {
  position: relative;
  background-color: #92989b;
}
.swipe-slide-wrap > div {
  position: absolute;
  z-index: 10;
  display: flex;
  left: 16px;
}
.swipe-slide {
  width: 178px;
  flex-shrink: 0;
}
.swipe-slide > a {
  display: block;
  outline: 1px solid mediumaquamarine;
}
.swipe-slide > a > img {
  display: inherit;
  margin: 0 auto;
}

/* footer-info */
.footer-info {
  padding: 40px 0 60px;
  text-align: left;
  position: relative;
}
.footer-info-wrap {
  position: relative;
  box-sizing: border-box;
  padding: 0 250px 0 180px;
}
.footer-logo {
  position: absolute;
  left: 0;
  top: 0;
}
.footer-logo > * {
  display: block;
}
.footer-logo > a {
  margin-top: 17px;
}
/* */
.footer-contents {
  font-family: "Noto Sans KR";
  width: auto;
}
.footer-contents > a {
  display: block;
  margin: 5px 0 15px 6px;
  font-size: 15px;
  font-weight: 500;
  color: #141313;
}
.footer-contents > p {
  font-size: 14px;
  color: #828282;
}
.copyright {
  margin-top: 10px;
}

/*  */
.accessibility {
  display: flex;
  position: absolute;
  top: 40px;
  right: 30px;
}
.accessibility > a {
  display: block;
}
.webaward > img {
  max-width: 57px;
  margin: 0 10px 0 8px;
}
/*  */

/* pagenav-------------------------------------------------------------------------------- */
.page-nav,
.page-control {
  position: fixed;
  z-index: 50;
}
.page-nav {
  top: 50%;
  right: 29px;
  margin-top: -90px;
}
.page-nav li a {
  display: block;
  text-align: right;
}
.page-nav li {
  position: relative;
}
.page-nav li + li {
  margin-top: 5px;
}
.page-nav span {
  display: inline-block;
  padding: 0 26px 0 17px;
  line-height: 30px;
  color: #646768;
  transition: all 0.5s;
  font-size: 15px;
  font-family: "Noto Sans KR";
}
.page-nav.on span {
  color: #fff;
}
.page-nav span.on {
  background-color: #d82744;
  border-radius: 15px;
  color: #fff;
}
.page-nav span.on::after {
  background-color: #fff;
}
.page-nav span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #b6b9bc;
  border-radius: 50%;
}
/* pagecontroller------------------------------------------------------------------------- */
.page-control {
  bottom: 100px;
  right: 27px;
}
.page-control a {
  display: block;
}
.page-control div + div {
  margin-top: 10px;
}
.page-control img {
  display: block;
}
