@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');
@font-face{
    font-family: "NanumSquare";
    src: url('../font/NanumSquareB.woff') format("woff");
    font-weight: 700;
}
@font-face{
    font-family: "NanumSquare";
    src: url('../font/NanumSquareR.woff') format("woff");
    font-weight: 400;
}

/* common */
.clear::after {
    content: "";
    display: block;
    clear: both;
}
.k-insurance-wrap {
    min-width: 320px;
    /* overflow: hidden; */
}
.inwrap {
    max-width: 1260px;
    min-width: 340px;
    margin: 0 auto;
}

/*  header ------------------------------------------------------------------------------- */
header {
    height: 80px;
    background-color: rgba(149, 107, 149, 0.192);
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
.header-inner {
    width: 95%; 
    display: flex;
    overflow: hidden;
}
.header-inner > * {
    box-sizing: border-box;
}

/*  */
.header-logo {
    height: 80px;
}
.header-logo > a > img {
    width: 155px;
    display: block;
    margin-top: 25px;
}
/* header-nav */
.header-nav {
    flex-grow: 1;
    margin: 0 30px;
}
.header-nav  .nav-group1 {
    line-height: 80px;
}
.header-nav .nav-group1 > li {
    float: left;
    width: 25%;
    text-align: center;
}
.header-nav .nav-group1 > li > a {
    background-color: white;
    display: block;
    font-size: 21px;
    font-weight: 700;
    color: #131313;
    transition: color 0.4s;
}
.header-nav .nav-group1 > li > a:hover {
    color: #108ad3;
}
/* ---------------------- js적용 시키기 */
.nav-group2.on {
    display: block;
}
.nav-group2 {
    display: none;
}
/* --------------------- headernav 부분 다시 해보기! nav에 line-height를 주지않고 position으로 띄운뒤 overflow:hidden을 해서 다시 시도해본다. */
.nav-group2.on {
    background-color: #e8e9eb;
    display: flex;
    position: absolute;
    top: 80px;
    left: 0; right: 0;
}
.nav-group2 > li {
    outline: 1px solid red;
    width: 25%;
}
.nav-group3 {
    background-color: #108ad3;
}
.nav-group3 > li {
    outline: 1px solid lime;
    padding:2.45% 3% 0 ;
}

.nav-group3 > li > a {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    display: block;
    background-color: lightblue;
}
.nav-group4 {
    background-color: #575a61;
}
.nav-group4 > li {
    outline: 1px solid orange;
}
.nav-group4 > li > a {
    display: block;
    font-weight: 400;
    background-color: palegoldenrod;
}


/* header-util */
.header-util > * {
    font-family: 'Noto Sans KR';
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    line-height: 39px;
    overflow: hidden;
    box-sizing: border-box;
}

/* util-search */
.util-search {
    background-color: #e8e9eb;
    width: 172px; height: 39px;
    font-family: 'Noto Sans KR';
    padding: 0 39px 0 23px ;
}
.h-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image:url('../images/icon_g.png');
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.util-search input:focus { outline: none; }
.util-search input::placeholder { color: #000; font-size: 16px; }
.util-search input:focus::-webkit-input-placeholder { color: transparent; }        
.util-search input:focus::-moz-placeholder { color: transparent; } 
.util-search input:focus:-ms-input-placeholder { color: transparent; } 
.util-search input:focus::-ms-input-placeholder { color: transparent; }

/*  */
.search-txt {
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: #575a61;
    width: 100%;
    height: 38px;
}
.h-btn.search {
    width: 25px; height: 37px;
    background-position: -27px 11px;
    right: 10px;
}
/* header-sitemap */
.header-sitemap {
    margin-left: 5px;
    border: 1px solid #cdcecf;
}
.header-sitemap > a {
    display: block;
    padding: 0 38px 0 21px;
    font-size: 15px;
    line-height: 37px;
}
.h-btn.sitemap {
    width: 16px; height: 16px;
    background-position: -52px 2px;
    right: 14px;
}
/* header-lang */
.header-lang {
    margin-left: 5px;
    width: 39px; height: 39px;
}
.header-lang > ul > li {
   float: left; 
}
.header-lang > ul > li > a {
    background-color: #0d2d4f;
    display: block;
    width: 39px; 
    color: #fff;
    font-size: 14px;
    text-align: center;
    
}
.lan-kr {display: none;}

/* header-btn */
.header-btn {
    position: absolute;
    right: 30px; top: 22px;
    
}


/* main----------------------------------------------------------------------------------- */
#section03,#section04,#section05{ display: none;}

section {
    width: 100%; height: 100%;
    outline: 1px solid brown;
    background-size: cover;
    padding-top: 80px;
}
.section-inner {
    padding-top: 40px;
}
.section-inner-wrap { background-color: wheat;}
section .title {
    text-align: center;
    outline: 1px solid blue;
    margin-bottom: 45px;
    color: #fff;
    
}
section .title > p {
    font-weight: 500;
    font-size: 18px;
}

section h2 {
    font-weight: 700;
    font-size: 48px;
    color: #1c1c1c;
    padding-top:27px ;
    margin-bottom: 50px;
    line-height: 1;
    text-align: center;
}
section h2::before {
    display: block;
    content: '';
    width: 35px; height: 4px;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
}
.col {
    box-sizing: border-box;
    float: left;
    padding: 10px;
}
.col > * {
    text-align: center;
}
.col > a {
    background-color: #fff;
    display: block;
    padding:38px 10px 62px ;
    border-radius: 16px;
}
.col > a > i {
    margin: 0 auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.btn-go  {
    display: inline-block;
    background-color: #0d2d4f;
    color: #fff;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 25px;
    font-size: 15px;
    margin-top: 17px;
}
.col4 { outline: 1px solid green; }
/* secton1_home */
#section01 {  
    background-image: url('../images/main_visual01.jpg');
}
#section01 .title > h2 {
    color:#fff ;
}
#section01 .title > h2::before{display: none;}
#section01 .col { width: 25%; }
#section01 .col2 > .col > a {
    text-align: left;
    padding: 20px 28px 23px;
}
#section01 .col2 > .col > a > h3 {
    margin-top: 0;
    font-size: 28px;
}
#section01 .col2 > .col.on > a {
    background-color: #108ad3;
}

/* mouseover .col.on 일경우 */
#section01 .col.on > a {
    background-color: #108ad3;
}
#section01 .col.on > a > h3 ,
#section01 .col.on > a > h4 ,
#section01 .col.on > a > p { color: #fff; }

/* div.col.on.favmenu > a  --> 자식들을 포함하지 않고 자식들 각각에 a를 줬다 왜..?---------- */
/* sectoin1 */
#section01 .col.on.fav-menu > a {
    outline: 1px solid blue;
    display: block;
}
.fav-menu-contents > li {
    outline: 1px solid yellow;
    float: left;
    width: 33.333%;
}
.fav-menu-contents > li > a {
    display: block;
}
.fav-menu-contents > li > a > i {
    display: block;
    width: 69px; height: 69px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.fav-menu-contents > li:nth-child(1) i {background-image: url('../images/icon_s0105.png');}
.fav-menu-contents > li:nth-child(2) i {background-image: url('../images/icon_s0106.png');}
.fav-menu-contents > li:nth-child(3) i {background-image: url('../images/icon_s0107.png');}

/*  ---------------------------------------------------------------수정해야한다.*/

#section01 .col > a > i {
    width: 180px; height: 180px;
    border-radius: 50%;
    background-color: #edf1f5;
}
#section01 .col4 > .col:nth-child(2) i { background-image: url('../images/icon_s0101.png');}
#section01 .col4 > .col:nth-child(3) i { background-image: url('../images/icon_s0102.png');}
#section01 .col4 > .col:nth-child(4) i { background-image: url('../images/icon_s0103.png');}

.col > a > h3 {
    margin-top: 20px; 
    font-size: 32px; 
    font-weight: 700;
    color: #121212;
}
.col > a > p.show {
    margin-top: 5px;
    font-size: 17px;
    color:#999999;
    line-height: 1.29;
    font-family: "Noto Sans KR";
    display: block;
}
.col > a > p {
    display: none;
}

#section01  .col2 > .col {
    width: 100%;
    display: block;
}
.col2 > .col > a > p.show {font-size: 15px;}
.col2 > .col > a { position: relative; }
#section01 .col2 > .col > a > i {
    position: absolute;
    background-image: url('../images/icon_s0205.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 78px; height: 87px;
    right: 28px; bottom: 23px;
    border-radius: 0;
}

/* secton2_ 생명보험협회 */
#section02 { background-image: url('../images//section02_bg.jpg'); }
#section02 .col4 > .col,
#section02 .col2 > div {
    width: 50%;
    padding:10px;
    overflow: hidden;
}
#section02 .col4 > .col > div, 
.col2 >.col > ul,
.col2 >.col > div {  
    border-radius: 15px; 
    background-color: #fff;
    overflow: hidden;
}
#section02 .col4 > .col > div.tab-wrap {
    background-color: #edf1f5;
}
.tab-wrap {
    border: 1px solid #d4d5d8;
}
.tab {
    line-height: 50px;
    border-bottom: 1px solid #d4d5d8;
}
.tab > a {
    background-color: #fff;
    border-right: 1px solid #d4d5d8;
    display: block;
    float: left;
    max-width: 140px;
    font-size: 18px;
    font-weight: 700;
    width: 33.333%;
}
.more-btn {
    
}
.tab > a.hide {display: none;}
.tab-contents {
    padding:28px 38px;
    background-color: #fff;
}
.tab-contents > ul {
    outline: 1px solid red;
    display: none;
}
.tab-contents > ul > li {
    text-align: left; 
    font-family: "Noto Sans KR";
    color: #6d6d6d;
    font-size: 15px;
}
.tab-contents > ul.on  {
    display: block;
}
.tab-contents > ul > li > a  {
    display: block;
    outline: 1px solid lime;
    overflow: hidden;
    max-width: 335px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.3s;
    color: #6d6d6d;
}
.tab-contents > ul > li > span {

}
/* col2 > col */
#section02 .col4 > .col2 > .col { background-color: transparent ;}
#section02 .col.col2 { padding:0;}
.sec02-inner {
    background-color: #108ad3 !important;
    padding: 10px;
}
.sec02-inner > li {
    outline: 1px solid lime;
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.sec02-inner > li > a {
    display: block;
    text-align: center;
    color: #fff;
    font-family: "Noto Sans KR";
}
.sec02-inner > li > a > i {
    display: block;
    width: 82px; height: 82px;
    margin: 0 auto 7px;
    background: #fff no-repeat center;
    border-radius: 50%;
}
.sec02-inner > li:nth-child(1) i {background-image: url('../images/icon_s0201.png');}
.sec02-inner > li:nth-child(2) i {background-image: url('../images/icon_s0202.png');}
.sec02-inner > li:nth-child(3) i {background-image: url('../images/icon_s0203.png');}
.sec02-inner > li:nth-child(4) i {background-image: url('../images/icon_s0204.png');}

/*  slider */
.slide-img-wrap {outline: 1px solid lime;}
.slide {float: left;}
.slide > a {
    display: block;
    background: no-repeat center;
    outline: 1px solid lime;
    overflow: hidden;
}
.slid > a >img {
    display: block;
    width: 100%;
}

/*  */
.col-notice{
    outline: 1px solid red;
}
/* secton3_ 소비자 */
/* secton4_ 모집종사자 */
/* secton5_ 회원사 */

/* footer--------------------------------------------------------------------------------- */


/* pagenav-------------------------------------------------------------------------------- */ 


/* pagecontroller------------------------------------------------------------------------- */

